<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChilliSos</title>
    <script src="https://kit.fontawesome.com/20ddbdf3e1.js" crossorigin="anonymous"></script>
    <!-- temp, testing database, not yet done, still working on it-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/landing.css">
</head>

<body>
    <div class="landing-box">
        <div class="landing-logo">
            <h2>ChilliSos
                <icon class="fas fa-pepper-hot"></icon>
            </h2>
        </div>
        <div class="landing-text-box">
            <h1>Welcome To ChilliSos Food Bank</h1>
            <button type="button" class="btn btn-full one" onclick="location.href='register'">Sign Up</button>
            <button type="button" class="btn btn-full two" onclick="location.href='login'">Log In</button>
        </div>
    </div>
</body>

</html>