* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

#title {
    color: #627964;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-indent: 40px;
}

body {
    margin: 0;
}

#list-box {
    background-color: #C3D8C5;
    padding: 45px;
    transform: skewY(-2deg);
}

#foodbank {
    background-color: white;
    border-radius: 35px;
    border: 2px outset #73AD21;
    margin: 10px auto;
    padding: 20px;
    width: 73%;
    padding-left: 20px;
    overflow: hidden;
    transform: skewY(2deg);
}

.fb-name {
    text-align: center;
    color: #627964;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.sub-info {
    color: #627964;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    margin: 0;
}

.sub-content {
    color: #627964;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    padding: 8px;
    margin: 0;
    text-indent: 20px;
}

#hr-out {
    border-top: 5px solid#627964;
    width: 3.5%;
    margin: 40px;
}

#hr-in {
    border-top: 5px solid#627964;
}

.food-table {
    border-collapse: collapse;
    margin-left: 30px;
}

table.food-table th {
    color: #627964;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #627964;
    padding: 0.5rem;
    text-align: center;
}

table.food-table td {
    color: #627964;
    font-family: 'Montserrat';
    font-size: 18px;
    border: 1px solid #627964;
    padding: 0.5rem;
    text-align: left;
}

.fb-btn:link,
.fb-btn {
    border: 3px solid #659468;
    color: #659468;
    background-color: transparent;
    border-radius: 150px;
    padding: 8px 27px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    size: 100%;
    margin: 1% 0% 1% 1%;
    float: right;
    cursor: pointer;
}

.fb-btn-full:hover,
.fb-btn-full:active,
.fb-btn-full:hover {
    background-color: #659468;
    color: #efefef;
}

#white-box {
    background-color: white;
    padding: 45px;
    transform: skewY(2deg);
}

#notFound {
    color: #627964;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 1.5px #627964;
    font-size: 25px;
    font-weight: 300;
    transform: skewY(2deg);
    text-align: center;
}

.search-btn:link,
.search-btn {
    background-color: #656864;
    border: 3px solid #656864;
    color: #efefef;
    border-radius: 10px;
    padding: 8px 27px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 22px;
    size: 100%;
    margin: 1.5% 0% 1% 30%;
    cursor: pointer;
}

.search-btn-full:hover,
.search-btn-full:active,
.search-btn-full:hover {
    border: 3px solid #000000;
    color: #000000;
    background-color: transparent;
}

.addFoodbankDiv {
    margin: auto;
    width: 5%;
    padding: 10px;
}

.add-foodbank {
    padding: 2px 7px 8px;
    height: 42px;
    width: 42px;
    background-color: transparent;
    border: 3px solid #0f4725;
    cursor: pointer;
    border-radius: 60%;
    margin-top: 7px;
    font-weight: 400;
    font-size: 30px;
    color: #0f4725;
}

.add-foodbank:hover {
    background: #5b8f11;
    color: white;
}

.add-foodbank:focus {
    outline: none;
}

#map {
    height: 500px;
    width: 100%;
}

.address-box {
    display: inline-flex;
    font-size: 10px;
    color: transparent;
}